body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;

  min-width: 400px;
  background-color: #dfe6e9;
}

.heading {
  text-align: center;
  font-size: 2em;
  color: #000000;
  margin: 20px 0 30px;
}

.card {
  border-radius: 25px;
  width: 350px;
  padding: 25px 15px;
  background-color: #ffffff;
  margin: 20px 0;

  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.top {
  border-radius: 25px 25px 0 0;

  display: flex;
}

.name {
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.info {
  margin: 20px 22px;
  color: #000000;
}

.contacts-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.add-btn-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.add-btn {
  color: rgb(34, 34, 34);
  font-size: 25px;
  background-color: #57d5ff;
  cursor: pointer;
  border-radius: 5px;
  border-color: 2px solid gray;
}
.add-btn:hover {
  background-color: #008cba;
  color: white;
}
